{:paths
 ["src/main"]

 :deps
 {appliedscience/js-interop {:mvn/version "0.2.6-MOVED"}}

 :aliases
 {:usage
  {:extra-paths ["src/test"]}
  :test
  {:extra-paths ["src/test"
                 "out/test-2/gen"]
   :extra-deps  {olical/cljs-test-runner {:mvn/version "3.5.0"}}
   :main-opts   ["-m" "cljs-test-runner.main"]}
  :release
  {:extra-deps {applied-science/deps-library {:mvn/version "0.4.0"}}
   :main-opts  ["-m" "applied-science.deps-library"]}
  :dev
  {:extra-deps {org.clojure/clojure       {:mvn/version "1.10.0"}
                org.clojure/clojurescript {:mvn/version "1.10.753"}}}}}
