;; shadow-cljs configuration
{:source-paths
 ["src/main"
  "src/test"]

 :dependencies
 []

 :builds
 {:test
  {:target    :node-test
   :output-to "out/node-tests.js"
   :ns-regexp "-tests$"
   :autorun   true}
  :test-2
  {:target    :node-test
   :output-to "out/node-tests.js"
   :ns-regexp "-tests$"
   :autorun   true
   :closure-defines {applied-science.js-interop-tests/advanced? true}
   :compiler-options {:optimizations :advanced}}}}
