;; shadow-cljs configuration, for development purposes only
{:source-paths
 ["src/main"
  "src/test"]

 :dependencies
 []

 :builds
 {:test1
  {:target    :node-test
   :output-to "out/shadow-1.js"
   :ns-regexp "-test$"
   :autorun   true}
  :test2
  {:target           :node-test
   :output-to        "out/shadow-2.js"
   :ns-regexp        "-test$"
   :autorun          true
   :closure-defines  {applied-science.js-interop-test/advanced? true}
   :compiler-options {:optimizations :advanced}}
  :usage
  {:target :browser
   :output-dir "out"
   :modules {:shadow-usage {:entries [applied-science.js-interop-usage]}}
   :compiler-options {:pseudo-names true}}}}
